<h2>About</h2>

<p>I've always had an interest in building amazing things. </p>

<p>This passion was a mixture of building amazing things, logic, and technology. When I started exploring my career passion, unfortunately there was not much exposure to the world of programming in my environment. Not sure of what exactly could combine my interest, I was led to engineering. </p>

<p>I graduated form Clemson University in Civil Engineering. For 5 years after graduating, I worked on design teams building amazing things such as complex manufacturing plants, substations for wind turbine farms ,and rail lines to transport coal ash sustainability.</p>

<p>As interesting as </p>