<h2>About</h2>

<p>I've always had an interest in building amazing things. </p>

<p>This passion was a mixture of building amazing things, logic, and technology. When I started exploring my career passion, unfortunately there was not much exposure to the world of programming in my environment. Not sure of what exactly could combine my interest, I was led to engineering. </p>

<p>I graduated form Clemson University in Civil Engineering. For 5 years after graduating, I worked on design teams building amazing things such as complex manufacturing plants, substations for wind turbine farms ,and rail lines to transport coal ash sustainability.</p>

<p>As interesting as these projects were, I did not feel like my current work industry was as fast paced and inventive as I would like it to be. Curiosity pushed me to take a week-long online tutorial for Javascript and I was in love! Building VIRTUAL amazing things? Being a part of an industry that is constantly innovating and growing seemed to be a perfect fit for my passions.</p>

<p>I quit my job in environmental construction soon after and decided to move to NYC to attend Dev Bootcamp and pursue a career in the city. It's been an challenging, enlightening, demanding journey to this point, but I graduate Dev Bootcamp July 2017. </p>

<p>I am currently pursuing a full stack junior web development position at an organization that puts an emphasis on implementing cutting-edge technology and an inclusive environment for it's employees.</p>